<footer>
  	<div class="container">
    	<span class="text-muted"><%= texts.ORIGINAL_IDEA %> <a href="https://steemit.com/@eroche">@eroche</a></span>.
    	<span class="text-muted"><%= texts.DEVELOPED_BY %> <a href="https://steemit.com/@cedric-g">@cedric-g</a></span>
  	</div>
</footer>