<!DOCTYPE html>
<html>
  	<body>

  		<div class="flex-container">
			<header>
				<% include ./partials/header %>
			</header>

			<section class="content">
				<% include ./partials/nav %>
				<%- body %>
			</section>

		</div>
  	</body>
</html>


