.articles {
    margin-top: 25px;
    height:auto !important;        /* for IE as it does not support min-height */
    height:100%;
}

.article {
   /*max-height: 200px;*/
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article:hover {
  border:1px inset black;
}


/*.articles .article:nth-child(odd) {
  background: #E5E5E5;
}

.articles .article:nth-child(even) {
  background-image: url("../images/boarder.png");
  background-size: 370px 163px;
}*/

.articles .article:hover .article-header-actions {
  display: block;
}
.articles .article .article-header {
  /*position: absolute;*/
  margin-bottom: 15px;
}
.articles .article .article-header:after {
  content: '';
  clear: both;
}

.articles .article .article-header-img {
  max-width: 100%;
  max-height: 100%; 
  margin-bottom: 15px;
  position: static;
  text-align: center;
}

.articles .article .article-header-img-cropper {
  width: 75%;
  height: 168px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0px 0px 10px #343434;
  text-align: center;
  display: inline-block;

}

.articles .article .article-header-img img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.articles .article .article-header-title {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

.articles .article .article-body {
  position: static;
  text-align: center;
  margin-bottom: 15px;

}

.articles .article .article-body p {
  font-size: 16px;
  line-height: 26px;
}
.articles .article .article-footer-tags {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.articles .article .article-footer-tags a {
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  height: 30px;
  padding: 0 5px;
  line-height: 20px;
  color: #fff;
  background: #4f8cfc;
  border: none;
  font-size: 12px;
  font-weight: 100;
  transition-duration: .3s;
  margin-bottom: 10px;
}

.articles .article .article-footer-tags a:hover {
  background: #555;
  text-decoration: none;
}

