body, html {
  margin: 0;
  height: 100%;
  overflow: scroll;
  margin-bottom: 20px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 95%;
}

header {
  background-color: #3F51B5;
  color: #fff;
}

section.content {
  display: block;
  flex: 1;
}

footer {
  height:5%;
  background-color: #FFC107;
  color: #333;
}

